.card {
  width: 500px;
  height: 700px;

  display: flex;
  flex-direction: column;
  padding: 1rem;

  background-color: #1e1e1e;
  border-radius: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}
